:root {
    --number-rows: 16;
    background-color: aquamarine;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    width: 30vw;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(var(--number-rows), 1fr);
    grid-template-rows: repeat(var(--number-rows), 1fr);
    border-style: solid;
    border-color: black;
    background-color: white;
}

.box {
    border-top: none;
    border-left: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: thin;
}
#button-container {
    margin: 20px;
}

button {
    cursor: pointer;
    color: white;
    background-color: blue;
    padding: 10px;
    border-style: none;
    border-radius: 6px;
}

button:hover {
    background-color: darkblue;
}

@media (max-width: 840px) {
    #grid {
        width: 80vw;
        height: 80vw;
    }
}